body {
    background-color: #c8cab4;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: rgb(75, 68, 67);
    border-radius: 15px;
    box-shadow: 0 5px 8px 11PX rgba(0,0,0,.3);
    margin: 50px auto;
    padding: 30px;
    width: 350px;
  }
  
  .display {
    margin-bottom: 25px;

  }
  #result {
    border-radius: 10px;
  }
  
  .display input {
    background-color: #c9e9ec;
    border: none;
    box-shadow: inset 0 -5px 10px rgba(0,0,0,.1);
    font-size: 18px;
    padding: 9px;
    text-align: right;
    width: 100%;
  }
  
  .keys {
    display: grid;
    grid-gap: 17px;
    grid-template-columns: repeat(4, 1fr);
  
  }
  
  .keys button {
    background-color: #acceaa;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
  }
  